* {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
}

.bday-card .date__text {
  font-size: 24px;
  text-transform: uppercase;
}

.bday-card .infos__name {
  font-size: 20px;
}

.bday-card .infos__status-message {
  font-size: 16px;
}